* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    line-height: 2;
}
body {
    height: 100vh;
    width: 100%;
    justify-content: center;
    --text-color: #222;
    --bkg-color: #fff;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
}
@media (prefers-color-scheme: dark) {
    body {
        --text-color: snow;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: black;
        --bkg-color: #fff;
    }
}
body {
  background: var(--bkg-color);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .btn-toggle {
    max-width: 200px!important;
    height: 100px!important;
    cursor: pointer;
    margin: 2rem auto;
    border: transparent;
    color: var(--text-color);
    font-weight: 700;
}
.content section h2, .content section p {
  color: var(--text-color);
}
.content section {
    width: 900px;
    max-height: content;
    border: 3px solid ;
    border-color: linear-gradient(to top, lime, pink, violet, blue);
    height: min-content;
    text-align: center;
}
.content .borderLinearGradient {
    width: 100%;
    max-width: 900px;
    position: relative;
    box-sizing: border-box;
    background: var(--bkg-color);
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
    height: min-content;
}
.content .borderLinearGradient:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(lime, pink, violet, blue);
    animation: animate 6s linear infinite;
    filter: blur(10px);
}
.content .borderLinearGradient:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(lime, pink, violet, blue);
    animation: animate 6s linear infinite;
    filter: blur(40px);
}
.content section h2 {
    font-size: 2rem;
    text-align: center;
}
.content section p {
    font-size: 1.2rem;
}
::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, lime, pink, violet, blue);
    animation: animate 6s linear infinite;
}

@keyframes animate
{
    0% , 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, lime, pink, violet, blue);
    filter: blur(10px);
}
#progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, lime, pink, violet, blue);
    filter: blur(30px);
}